.messages{
    padding: 10px 32px;
    box-shadow: 0px 10px 10px rgba(14, 58, 162, 0.2);
    width: 80%;
    border-radius: 8px;
}
.commit-history{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
h5{
    font-family: Inter;
    font-size: 10px;
}
.messages-info{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.messages-img-container{
    display: flex;
    gap: 16px;
}
.messages-img-container img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.messages-img-container h6{
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.550000011920929px;
    text-align: center;
    color: #18214D;
}
.messages-date{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4000000059604645px;
    text-align: right;
    color: #18214D;
}
.d-no{
    display: none;
}
@media (min-width: 768px) {
    .d-no{
        display: block;
    }
    .d-yes{
        display: none;
    }
    .messages-img-container{
        flex-direction: column;
    }
    .messages-img-container img{
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }
    .messages h3{
        align-self: center;
    }
    .messages-info-1{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .messages-info{
        align-items: center;
    }
}
@media (max-width: 1300px) {
    .messages{
        padding: 20px 70px;
    }
}
@media (max-width: 1300px) {
    .messages{
        padding: 20px 30px;
    }
}
@media (max-width: 550px) {
    .messages-info{
        flex-direction: column;
    }
    .messages-date{
        text-align: left;
        margin-top: 20px;
    }
}
@media (min-width: 900px) {
    h5{
        font-size: 14px;
    }
    .messages-info-1{
        gap: 77px;
    }
}